@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

$font1: "Open Sans", sans-serif;
$font2: "Roboto", sans-serif;

$color1: #fff;
$color2: #fff;
$color3: #fff;
$color4: #fff;
$color5: #fff;

$fsize1: 10px;
$fsize2: 12px;
$fsize3: 14px;
$fsize4: 16px;
$fsize5: 20px;
$fsize6: 24px;

$color1: #ff6978;
$color2: #dce2ea;
$color3: #fffcf9;
$color4: #352d39;
$color5: #ff697858;
