@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap");

$font1: "Open Sans", sans-serif;
$font2: "Roboto", sans-serif;
$font3: "Signika Negative", sans-serif;

$fsize1: 16px; /*Menu buttons*/
$fsize2: 42px; /*Brand letters and main titles*/
$fsize3: 3.5vw; /*Landing title*/
$fsize4: 2vw; /*Landing subtitle*/

$colorW: white;
$colorB: black;
$color1: #175676; /*Landing title*/
$color2: #ba324f; /*Landing subtitle*/
$color3: #a95515; /*Landing alatitle*/
$color4: #3b0207; /*Pole hetkel*/
$color5: #cc9e2b;
$color6: #333333; /*header bg*/
$color7: rgb(196, 36, 36); /*Pole kuskil hetkel*/
